.color-picker {
    display: flex;
    flex-direction: row;
}

.color-picker > div {
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 4px solid;

    cursor: pointer;
}

.color-picker > .selected {
    border-color: gold;
    box-shadow: 0 0 20px gold;
}

.color-picker > .not-selected {
    border-color: gray;
}