.buffalo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
}

.buffalo-table {
    background-color: burlywood;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    border-radius: 2vh;
}

.buffalo-table-inner {
    height: fit-content;
    width: fit-content;

    background-color: #3d2911;

    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2vh;
    border-radius: 2vh;
}

.drawn-card, .top-of-discard {
    text-align: center;

    height: 20vh;
    width: auto;
    background-color: white;
    border-radius: 5%;
    margin: 2vh;

    border: 2px solid black;
}

.buffalo-my-tableau{
    position: fixed;
    bottom: 0px;

    width: 10vw;
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.buffalo-my-banner {
    display: flex;
    justify-content: space-between;
}

.buffalo-my-name, .buffalo-my-wins {
    padding:15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    
    white-space: nowrap;
    background-color: #7A71F7;
    border: 2px solid black;
    
}

.buffalo-my-ready-button {
    width: 150px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.buffalo-my-ready-button div {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    border: 2px solid black;
    border-radius: 10px;

    cursor: pointer;
}

.buffalo-my-ready-button-ready {
   background-color: lightgreen;
}

.buffalo-my-ready-button-ready:hover {
    background-color: green;
 }

.buffalo-my-ready-button-not-ready {
    background-color: lightcoral;
}

.buffalo-my-ready-button-not-ready:hover {
    background-color: red;
 }


.buffalo-my-cards {
    display: flex;
    flex-direction: row;
}

.buffalo-my-cards > img {
    height: 18vh;
    width: auto;
    background-color: white;
    border-radius: 5%;
    margin: 2vh;

    border: 2px solid black;
}

.buffalo-others {
    position: absolute;
    height: 100vh;
    width: 70vw;
}

.buffalo-others-tableau {
    position: absolute;
    text-align: center;
}


.buffalo-others-banner {
    display: flex;
    justify-content: space-between;
    background-color: #7A71F7;
}

.buffalo-others-name, .buffalo-others-wins {
    padding:5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    
    white-space: nowrap;
}

.buffalo-others-cards {
    display: flex;
    flex-direction: row;
}

.buffalo-others-cards > img {
    height: 12vh;
    width: auto;
    background-color: white;
    border-radius: 5%;
    margin: 1vh;

    border: 1px solid black;
}

.buffalo-others-ready-status-box {
    width: 1vw;
}