.buffalo {
    height: 100%;
    width: 100%;
}

.buffalo-table {
    position: absolute;
    top: 30%;
    left: 40%;

    height: 25%;
    width: 20%;

    background-color: burlywood;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.buffalo-table-inner {
    height: fit-content;
    width: fit-content;

    background-color: #3d2911;

    display: grid;
    grid-template-columns: 50% 50%;
}

.drawn-card, .top-of-discard {
    text-align: center;

    height: 100px;
    width: auto;
    background-color: white;
    margin: 10%;
    border-radius: 5%;
}