.leave-button {
    background-color: white;
    border-radius: 5px;
    border: 5px solid black;

    font-size: 25px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;

    cursor: pointer;

    position: fixed;
    top: 10px;
    right: 10px;
}

.leave-button:hover{
    background-color: black;
    color: white;
}

