.login {
    height: 100%;
    width: 100%;

    background-image: url("../assets/login_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    background-color: white;
    padding: 50px;
    border: 5px solid black;
    border-radius: 5vh;
}

.login-panel > * {
    padding: 10px;
    margin: 5px;
}

.login-message {
    font-size: larger;
    font-weight: bold;
}

.login-name {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid gray;
    border-radius: 2px;
}

.login-submit {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    cursor: pointer;

    font-size: 50px;
}

.login-submit:hover{
    color:white;
    background-color: black;
}
