.loading-banner, .error-banner {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    font-size: 150px;
    font-family: 'Ubuntu', sans-serif;
}

.loading-banner {
    background-color: lightslategray;
}

.error-banner {
    background-color: lightcoral;
}

.leave-button, .exit-button {
    border-radius: 5px;

    font-size: 25px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;

    cursor: pointer;

}

.leave-button {
    position: fixed;
    top: 10px;
    right: 10px;

    background-color: white;
    border: 5px solid black;
}

.exit-button {
    position: fixed;
    top: 75px;
    right: 10px;

    background-color: lightcoral;
    border: 5px solid red;
}

.leave-button:hover{
    background-color: black;
    color: white;
}

