.buffalo {
    height: 100%;
    width: 100%;

    position: fixed;
    

    background-image: url("../../assets/buffalo/buffalo_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.my-tableau {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
}

.my-tableau-TURNIND {
    border: 5px solid goldenrod;
    border-radius: 10px;
    background-color:  lightyellow;
}

.my-cards {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center; 
}

.my-card {
    position: relative;
    margin: 12px;
    height: 180px;
    width: 118px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center; 
    border: 3px solid black;
    border-radius: 8px;

    background-color: white;
}

.my-card-peeked {
    animation: peek-resize 1s linear;
}

.my-card-peeked .my-card-img {
    animation: peek-resize 1s linear, peek-img-hider 1s steps(2) forwards;
}

.my-card-peeked .my-card-img-flipper {
    animation: peek-resize 1s linear, peek-flipper-hider 1s steps(2) forwards;
}

@keyframes peek-resize {
    0% {
        height: 180px;
        width: 118px;
    }
    50% {
        height: 1px;
        width: 118px;
    }
    100% {
        height: 180px;
        width: 118px;
    }
}

@keyframes peek-img-hider {
    0% {
        display: none;
    }
    49% {
        display: block;
    }
    100% {
        display: block;
    }
}

@keyframes peek-flipper-hider {
    0% {
        display: block;
    }
    50% {
        display: none;
    }
    100% {
        display: none;
    }
}

.my-card-img, .my-card-img-flipper{
    position: absolute;
    height: 176px;
    width: 118px;
    border-radius: 8px;
    background-color: white;
}

.my-card > div , .deck > div, .discard > div{
    z-index: 5;
    margin: 5px;
    cursor: pointer;
    display: none;
    font-weight: bold;
    color: gray

}

.my-card:hover > div, .deck:hover > div, .discard:hover > div {
    display: block;
}

.my-card > div:hover, .deck > div:hover, .discard > div:hover {
    font-weight: bolder;
    color: black;
}

.my-banner-main {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;

    background-color: white;
    border: 3px solid black;
    border-radius: 8px;
    padding: 8px;
    width: 80%;
    margin: auto;
}

.my-banner-main > div {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: auto;
}

.my-banner {

    width: fit-content;
}

.my-banner-ready {
    border-color: green;
}

.my-name {
    font-size: 30px;
}

.my-wins {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.my-trophy {
    height: 50px;
    width: auto;
}

.my-win-count {
    font-size: 30px;
}

.other-players-tableaus {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.op-tableau {
    position: absolute;

    
    transform: translate(-50%, -50%);
}

.op-cards {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center; 
}

.op-card {
    position: relative;
    margin: 6px;
    height: 120px;
    width: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center; 
}

.op-card-img {
    position: absolute;
    height: 120px;
    width: 75px;
    border: 3px solid black;
    border-radius: 8px;

    background-color: white;
}

.op-card > div {
    z-index: 1;
    margin: 5px;
    cursor: pointer;
    display: none;
    font-weight: bold;
    color: gray

}

.op-card:hover > div {
    display: block;
}

.op-card > div:hover {
    font-weight: bolder;
    color: black;
}

.op-banner {
    display: flex;
    align-items: center;
    justify-content: space-between; 

    width: fit-content;
    margin: auto;

    background-color: white;
    border: 3px solid black;
    border-radius: 8px;
    padding: 8px;
}

.op-name {
    font-size: 30px;
}

.op-wins {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.op-trophy {
    height: 50px;
    width: auto;
}

.op-win-count {
    font-size: 30px;
}



.table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url("../../assets/buffalo/table.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    border: 5px solid burlywood;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.deck, .discard {
    position: relative;
    margin: 20px;
    height: 200px;
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center; 
}

.deck-img, .discard-img {
    position: absolute;
    height: 200px;
    width: 125px;
    border: 3px solid black;
    background-color: white;
    border-radius: 10px;
}

.ready-up, .un-ready-up, .call-buffalo, .queen-swap {
    padding: 5px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin:5px;
}

.ready-up {
    background-color: darkseagreen;
}

.ready-up:hover {
    background-color: darkgreen;
    color: white;
}

.un-ready-up {
    background-color: lightgray;
}

.un-ready-up:hover {
    background-color: gray;
}

.call-buffalo {
    background-color: lightskyblue;
}

.call-buffalo:hover {
    background-color: darkblue;
    color: white;
}

.queen-swap {
    background-color: lavender;
}

.queen-swap:hover {
    background-color: purple;
    color: white;
}

.buffalo-called-message {
    text-align: center;
}